*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-align: center; }

  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 4rem;
    line-height: 1.5;}

  h2{
    font-size: 3rem;
    font-weight: 900;
    line-height: 2;}

a {
  text-decoration: none; }
  /* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
  .container-fluid{
      padding: 3% 15% 7%;
  }
  #title{
      background-color: #ff4c68;
      height: 100%;
      text-align: left;
  }

  .nav_style{
      font-size: 1.5rem;
      padding:0 0 5rem;

  }
  .navbar-brand{
      font-size: 3rem;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      text-transform: lowercase;
  }

  .nav-item{
      padding: 0 1.5rem;
  }

  .row h1{
    margin-bottom: 2rem;
    color: azure;
  }
  .download-btn{
      margin: .5rem;
  }

  .title-img{
      width: 60%;
      transform: rotate(25deg);
      position: absolute;
      width: 50%;
      right: 30%;
  }
  #features{
    padding: 8rem 0;
    background-color: azure;
    position: relative;
    z-index: 1;
  }
  .feature-col{
      line-height: 1.5;
      padding: 3rem 5rem;
  }

  .feature-col i{
      font-size: 4rem;
      color: #ef8172;
      margin-bottom: 1rem;
  }
  .feature-col i:hover{
      color: #ff4c68;
  }

  .feature-col h3{
      font-size: 1.5rem;
      font-weight: bolder;
  }

  .feature-col p{
      /* width: 60%;
      margin: 0 auto; */
      color: #8f8f8f;
      font-size: 1.1rem;
  }
   #testimonials{
       background-color: #ef8172;
       color: azure;

   }
   .carousel-item{
        padding: 10rem 8rem 6rem;
        height: 50rem;
   }
   #testimonials h2{
       width: 60%;
       margin: 0 auto;
       color: azure;
   }


   .testimonial-img{
       border-radius: 100%;
       margin: 5rem;
       width: 10%;
   }

   #press{
       background-color: #ef8172;
       margin-top: -1rem;

   }
   #press img{
       width: 10%;
       padding-bottom: 8rem;
       margin: 2rem;
   }

   #pricing{
       padding: 8rem;
   }
   .card{
       height: 30rem;
       margin: 3rem 0;
   }
   .card button{
       margin: 2rem 0 0;
   }

   .card-row{
       padding: 5rem;
   }
   #cta h2{
    width: 50%;
    margin: 0 auto;
    font-weight: bolder;
    line-height: 1.5;
    padding-bottom: 2.5rem;
    
}

   #cta{
    background-color: #ff4c68;
    color:azure;
    font-family: 'Montserrat', sans-serif;
    padding:8rem 0;
   }

   #footer{
       margin: 6rem 0;

   }
   #footer i{
       font-size: 2rem;
       padding: 2rem;
   }
@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
    }
    #testimonials h2{
        font-size: 2.5rem;
        line-height: 1.5;
    }
    .testimonial-img{
        width: 15%;
    }
    #cta h2{
        font-size: 2.5rem;
        width: 80%;
    }
    #footer i{
        font-size: 1.5rem;
        padding: 1.5rem;
    }
}